
<ol class="list-group list-group-numbered"*ngFor="let art1 of empre">
   
    <li class="list-group-item d-flex justify-content-between align-items-start" >
        <div class="ms-2 me-auto">
          <div class="fw-bold">{{art1.nombres}} </div>
          {{"Apellidos :"}}
          {{art1.apellidos}}
          {{"Telefono :"}}
          {{art1.telefono}}
          {{"Auto: "}}
          {{art1.moAuto}}
        </div>
        <div>
            <button (click)="generatePdf(art1)">Imprimir de Nuevo</button>
        </div>
        

</li>

</ol>